.main-wrapper {
  section {
    margin-left: 2.5%;
  }
  .list {
    margin-left: 5%;
  }
}

.white {
  color: white;
}

.basket-titles {
  padding-left: 16px;
}

.counter-margin {
  margin-right: 10%;
}

.counter {
  cursor: pointer;
}

.pizza-description {
  font-family: Georgia;
  font-size: 1.2em;
  font-style: italic;
}

.basket-button {
  float: right;
}

.list-item {
  margin-top: 1%;
}