.main-wrapper {
  section {
    margin-left: 2.5%;
  }
  .list {
    margin-left: 5%;
  }
}

.white {
  color: white;
}

.basket-titles {
  padding-left: 16px;
}

.counter-margin {
  margin-right: 10%;
}

.counter {
  cursor: pointer;
}

.pizzaDescription {
  //font-family: Georgia;

}
