.status-wrapper {
  text-align: center;
  font-size: 2em;


  .text-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .progressbar-wrapper {
    padding-bottom: 50px;
    margin:0 auto;
  }
}